<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Camara de Comercio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center-image">
    <img src="assets/camara_01.jpg" alt="">
  </div>
  <div>
    <h3>PERSPECTIVA ORGANIZACIONAL</h3>
    <ion-card class="sombra-card">    
      <ion-card-content>
        Lograr una cultura de mejoramiento permanente.
      </ion-card-content>
    </ion-card>

    <ion-card class="sombra-card">    
      <ion-card-content>
        Mejorar la estructura física tecnológica.
      </ion-card-content>
    </ion-card>

    <h3>PERSPECTIVA PROCESOS</h3>
    <ion-card class="sombra-card">    
      <ion-card-content>
        Diversificar y generar nuevos servicios para el empresariado y la comunidad
      </ion-card-content>
    </ion-card>

    <ion-card class="sombra-card">    
      <ion-card-content>
        Generar sentido de pertenencia en al comunidad empresarial
      </ion-card-content>
    </ion-card>

    <ion-card class="sombra-card">    
      <ion-card-content>
        Generar procesos de desarrollo empresarial regional
      </ion-card-content>
    </ion-card>

    <h3>PERSPECTIVA CLIENTES</h3>
    <ion-card class="sombra-card">    
      <ion-card-content>
        Satisfacer los requerimientos de servicios formulados por nuestros comerciantes
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>