<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Camara de Comercio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <div>
        <img src="assets/CamaraAguachica.png" alt="">
      </div>
      <div class="centrar-items">
        <h1>Realizada por:</h1>
        <strong><p>DAIRON JOSE ARENAS TRILLOS</p></strong>
        <strong><P>KEVIN DUVAN GARCIA CARRASCAL</P></strong>
        <strong><P>UNIVERSIDAD POPULAR DEL CESAR SECCIONAL AGUACHICA</P></strong>
        <strong><p>PROFUNDIZACIÓN B1 MOVILES</p></strong>
        <strong><P>2023</P></strong>
        <p class="copy">Copyright © 2023 KEDURO</p>
      </div>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
