<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Camara de Comercio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="centrar_content">
  <div>
    <img src="assets/CamaraAguachica.png" alt="">
  </div>
  <div>
    <ion-card class="tamaño">
      <ion-card-header>
        <ion-card-title>Camara de Comercio de Aguachica</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        La Cámara de Comercio Aguachica nació mediante Decreto No. 2519 del 6 de diciembre de 1988, con jurisdicción de dos importante provincias la del sur del Cesar y sur de Bolívar , incluyendo los municipios de Aguachica; (capital natural de los sures), Curumaní, Pailitas, San Alberto, Pelaya, San Martín, Río de Oro, Tamalameque, 
        La Gloria, Gamarra y González en el sur del Cesar y los municipios de Morales, Santa Rosa del Sur, Simiti, Arenal, Río Viejo y Norosi en sur de Bolívar. 
        Su carácter es privado, cuenta con autonomía propia y es una institución sin ánimo de lucro.
      </ion-card-content>
    </ion-card>

    <ion-card class="tamaño">
      <ion-card-header>
        <ion-card-title>MISIÓN</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        La Cámara de Comercio de Aguachica. Es una entidad privada, sin ánimo de lucro, con el propósito de prestar los servicios de registros, 
        conciliación y desarrollo socioeconómico de la región, llevando la representación y vocería de los empresarios ante el gobierno nacional, regional y municipal, para fortalecer el Bienestar de la comunidad, basada en una cultura del conocimiento.

      </ion-card-content>
    </ion-card>

    <ion-card class="tamaño">
      <ion-card-header>
        <ion-card-title>VISIÓN</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Liderar el desarrollo integral de la región y promover estrategias que permitan fortalecer la cultura empresarial de las comunidades de
        la jurisdicción, en respuesta a los cambios globales.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
