<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Camara de Comercio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-label>ATENCIÓN AL CLIENTE</ion-label> -->
  <div>
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="mycolor">
          <ion-label>Atención al cliente</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <div class="ion-padding" slot="content">
            <img src="assets/atencion_cliente.jpg" alt="">
          </div>
          <div class="ion-padding" slot="content">
            Celular: +57- 316 0233043
          </div>
          <div class="ion-padding" slot="content">
            Telefono: +57-605-5650650
          </div>
          <div class="ion-padding" slot="content">
            Promoción y Desarrollo: (+57) 300 4800847
          </div>
        </div>
      </ion-accordion>
      <br>
      <ion-label class="label-junta">Junta Directiva</ion-label>
      <ion-accordion value="second">
        <ion-item slot="header" color="mycolor">
          <ion-label>Principales</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <img src="assets/principales.jpg" alt="">
        </div>
        <div class="ion-padding" slot="content">
          LUIS EDUARDO CASELLES LAZARO
          C.C 1.757.218
        </div>
        <div class="ion-padding" slot="content">
          DAVID MASMELA RAMIREZ
          C.C 8.729.332
        </div>
        <div class="ion-padding" slot="content">
          GUSTAVO BUENO OSORIO
          C.C 13.829.231
        </div>
        <div class="ion-padding" slot="content">
          RUBEN DARIO JIMENEZ GUTIERREZ
          C.C 79.664.527
        </div>
      </ion-accordion>
      <ion-accordion value="third">
        <ion-item slot="header" color="mycolor">
          <ion-label>Suplentes</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <img src="assets/suplentes.jpg" alt="">
        </div>
        <div class="ion-padding" slot="content">
          CARMEN EDILIA GONZALEZ ALVERNIA
          C.C 63.338.792
        </div>
        <div class="ion-padding" slot="content">
          YURGENSE LIZARAZO PIEDRAHITA
          C.C 18.919.378
        </div>
        <div class="ion-padding" slot="content">
          YASMINE IVONNE RAMIREZ LOPEZ
          C.C 36.533.107
        </div>
        <div class="ion-padding" slot="content">
          CENIT MEDINA PABON
          C.C 49.662.566
        </div>
      </ion-accordion>
      <ion-accordion value="fourth">
        <ion-item slot="header" color="mycolor">
          <ion-label>Representantes del Gobierno Nacional</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <img src="assets/representantes.jpg" alt="">
        </div>
        <div class="ion-padding" slot="content">
          ALDO PEREZ GARCIA
          Representante Gobierno Nal C.C 18.970.585 Presidente Junta
        </div>
        <div class="ion-padding" slot="content">
          RAFAEL ARMANDO QUIÑONEZ RINCON
          Representante Gobierno Nal C.C 77.180.647
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
  </ion-content>