<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Camara de Comercio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <img src="" alt="">
  </div>
  <div>
    <ion-card>
      <img alt="Evento Cámara de Comercio" src="assets/evento.jpg" />
      <ion-card-header>
        <ion-card-title>NÚMERO DE ATENCIÓN</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        🔉¡ATENCIÓN!🚨🚨 Empresario, Emprendedor y Comunidad en general, La Cámara de Comercio de Aguachica le informa que la nueva línea de atención telefónica para los usuarios es 📞*316 023 3043.* 
        Horario de atención: 08:00 a.m. a 12:00m A 02:00 p.m. a 06:00 p.m.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>